.movies__load-more_button{
    width: 320px;
    height: 36px;
    border: 1px solid rgba(232, 232, 232, 1);
    background-color: transparent;
    border-radius: 3px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 0;
    transition: all 0.9s ease;
    opacity: 0;
}

.movies__load-more_button_active{
    opacity: 1;
    cursor: pointer;
}

.movies__load-more_button_active:hover{
    opacity: 0.6;
}

@media screen and (max-width: 400px){
    .movies__load-more_button{
        width: 240px;
    }
}