.promo{
    width: 95%;
    min-height: 493px;
    background-color: #F5F5F5;
    display: flex;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.promo__title{
    max-width: 730px;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    margin: 160px 0 0;
}

@media screen and (max-width: 800px){
    .promo{
        min-height: 834px;
        
    }
    
    .promo__title{
        max-width: 680px;
        font-size: 40px;
        margin: 350px 0 0;
    }
}

@media screen and (max-width: 500px){
    .promo{
        min-height: 586px;
        
    }
    
    .promo__title{
        max-width: 292px;
        font-size: 29px;
        margin: 220px 0 0;
    }
}